:root {
  --clr-dark: #0b0c0f;
  --clr-light: #f9fafb;
  --clr-gray400: #9ca3af;
  --clr-gray600: #4b5563;
  --clr-gray800: #1f2937;
  --clr-primary: #4f46e5;
  --clr-secondary: #e11d48;

  /* primary - indigo rgb(37, 99, 235) */
  /* secondary - rose rgb(225, 29, 72) */

  /* sizes */
  --size-xxs: 0.5rem; /* 8 */
  --size-xs: 0.75rem; /* 12 */
  --size-sm: 0.875rem; /* 14 */
  --size-base: 1rem; /* 16 */
  --size-lg: 1.125rem; /* 18 */
  --size-xl: 1.25rem; /* 20 */
  --size-2xl: 1.5rem; /* 24 */
  --size-3xl: 1.875rem; /* 30 */
  --size-4xl: 2.25rem; /* 36 */
  --size-5xl: 3rem; /* 48 */
  --size-6xl: 3.75rem; /* 60 */
  --size-7xl: 4.5rem; /* 72 */
  --size-8xl: 6rem; /* 96 */
  --size-9xl: 8rem; /* 128 */
  --size-10xl: 10rem; /* 160 */
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

.light-mode {
  --clr-light: #0b0c0f;
  --clr-dark: #f9fafb;
  --clr-gray400: #1f2937;
  --clr-gray600: #1f2937;
  --clr-gray800: #1f2937;
}

body {
  font-family: "Supreme", sans-serif;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: var(--clr-primary);
}

strong {
  color: var(--clr-primary);
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-secondary);
  outline: 1px solid var(--clr-secondary);
}
