/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* m */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.btn {
  font-weight: 400;
  background-color: var(--clr-secondary);
  border: none;
  color: var(--clr-dark);
  padding: 0.75rem 1.25rem;
  text-align: center;
  text-decoration: none;
  font-size: var(--size-base);
  transition: transform 0.3s;
  cursor: pointer;
  border-radius: 6px;
  width: max-content;
}

.spinner {
  display: none;
  text-align: center;
  text-decoration: none;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
  width: 48px;
  height: 48px;
  border: 5px solid var(--clr-secondary);
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.section {
  margin-top: 5rem;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* m */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* l */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .section {
    margin-top: 10rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
