.scanner__title {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--clr-primary);
}

.scanner__info {
  text-align: center;
  margin-bottom: 1rem;
}

.scanner__btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
}

.reader {
  background-color: var(--clr-light);
  color: black;
}

.scanner-writer {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: var(--size-2xl);
  margin-bottom: 2rem;
  transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
}

.visitors__title {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--clr-primary);
}

.visitors__btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
}

.visitors__info {
  text-align: center;
  margin-bottom: 1rem;
}

#visitors__table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

#visitors__table > thead > tr > th {
  text-align: left;
  padding-left: 0.5rem;
}

#visitors__table-body {
  background-color: var(--clr-light);
  color: black;
}

#visitors__table-body > tr > td {
  padding-left: 0.5rem;
}
