.scanner__title {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--clr-primary);
}

.scanner__info {
  text-align: center;
  margin-bottom: 1rem;
}

.scanner__btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
}

.reader {
  background-color: var(--clr-light);
  color: black;
}

.scanner-writer {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: var(--size-2xl);
  margin-bottom: 2rem;
  transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  color: var(--clr-primary);
}

.visitors__title {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--clr-primary);
}

.visitors__btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
}

.visitors__info {
  text-align: center;
  margin-bottom: 1rem;
}

#visitors__table-container {
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  color: var(--clr-dark);
  font-size: var(--size-xs);
}

#visitors__table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--clr-light);
}

#visitors__table-body {
  border: 1px solid var(--clr-dark);
  text-align: left;
}

#visitors__table-body > thead {
  border: 1px solid var(--clr-dark);
  text-align: left;
}

th {
  font-weight: 600;
  color: var(--clr-dark);
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

#visitors__table-body tr td {
  border-top: 1px solid var(--clr-dark);
  padding-left: 1rem;
  padding-right: 1rem;
  white-space: nowrap;
}

.raffle__title {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--clr-primary);
}

.raffle__btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
}

.raffle__info {
  text-align: center;
  margin-bottom: 1rem;
}

.datatune-gold {
  color: var(--clr-primary);
}

.raffle-winner {
  display: none;
  border: 2px solid var(--clr-primary);
  padding: 1rem;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
}
